@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color:violet">
   
    <h1>Welcome!</h1>
    <p class="lead">A few coding katas converted into an ASP.NET MVC app for fun.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Morse Code</h3>
        <p><a class="btn btn-default" href="~/MorseCode/MorseCode" style="background-color:violet">Go</a></p>
    </div>
    <div class="col-md-3">
        <h3>Palindrome</h3>       
        <p><a class="btn btn-default" href="~/Palindrome/Palindrome" style="background-color:violet">Go</a></p>
    </div>
    <div class="col-md-3">
        <h3>Reverse Words in a Sentence</h3>
        <p><a class="btn btn-default" href="~/WordsinSentenceRev/WordsInSentenceRev" style="background-color:violet">Go</a></p>
        
    </div>
    <div class="col-md-3">
        <h3>Unsplice</h3>
        <p><a class="btn btn-default" href="~/Unspliced/Unspliced" style="background-color:violet">Go</a></p>
    </div>
    
</div>